<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

Team Name: <%=@info[:name]%>
Coach: <%=@info[:coach]%>
Point Guard: <%=@info[:pg]%>
Shooting Guard: <%=@info[:sg]%>
Power Forward: <%=@info[:pf]%>
Small Forward: <%=@info[:sf]%>
Center: <%=@info[:c]%>


 </body>
</html>
